<div class="uploadImageBody">
        <div class="upload-container">
          <h1>Batch Inference - Gender & Age</h1>
      
          <div
            class="dropzone"
            (drop)="onDrop($event)"
            (dragover)="onDragOver($event)"
            (click)="fileInput.click()"
            tabindex="0"
            role="button"
          >
            <input
              #fileInput
              id="zipInput"
              type="file"
              accept=".zip"
              [disabled]="showTableLoader"
              (change)="onFileSelected($event)"
              hidden
            />
      
         
              <div class="placeholder">
                <div class="drop-icon">📁</div>
                <div class="hint">Drop ZIP here or click to browse</div>
              </div>
          
      
        </div>
   
          <div class="previewWrapper" *ngIf="file">
            <h3>{{ file?.name }}</h3>
            <p>{{ (file?.size / 1024 / 1024) | number:'1.2-2' }} MB</p>
          </div>
     
      
          <div class="controls">
            <button (click)="uploadZip()" [disabled]="!file || isUploading">
              <span *ngIf="!isUploading">Upload</span>
              <span *ngIf="isUploading">Uploading…</span>
            </button>
           
      
            <button  type="button" (click)="removeFile()" [disabled]="!file || isUploading">
              Cancel
            </button>
          </div>
      
          <div class="error" *ngIf="error">{{ error }}</div>
        </div>
      
        <!-- Details will come below after upload -->
        <div class="detail_container" *ngIf="showDetail">
          <p-table
            [value]="outputDataTable"
            (onLazyLoad)="loadData($event)"
            [lazy]="true"
            [paginator]="true"
            [rows]="rows"
            [totalRecords]="totalRecords"
            [rowsPerPageOptions]="[10, 20, 30]"
            [scrollable]="true"
            scrollHeight="500px"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} of {totalRecords} items">
        
            <ng-template pTemplate="header">
              <tr>
                <th>Sr. No</th>
                <th>Preview</th>
                <th>File Name</th>
                <th>Human</th>
                <th>Gender</th>
                <th>Age</th>
              </tr>
            </ng-template>
        
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td>{{ rowIndex + 1 }}</td>
                <!-- <td><i class="pi pi-eye" (click)="click(data)"></i></td> -->
                <td><img 
                  [src]="data.base64"
                  alt="Image"
                  class="preview-img"
              /></td>
                         
                <td>{{ data?.filename }}</td>
                <td>{{ isHumanText(data?.result?.is_human) }}</td>
                <td>{{ genderText(data?.result?.gender) }}</td>
                <td>{{ ageText(data?.result?.age) }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        
        <div class="table-loader-wrapper" *ngIf="showTableLoader">
            <div class="table-loader"></div>
        </div>  
        
      </div>
      

      <!-- <p-button (click)="showDialog()" label="Show" /> -->
      <p-dialog header="Preview" [modal]="true" [(visible)]="visible" [style]="{ width: '500px' }">
        <div style="display:flex;justify-content:center;height:auto;width:auto">

            <img 
              [src]="img"
              alt="Image"
              class="preview-img"
              style="width: 400px;height: 400px;"
          />
        </div>
      
        
      </p-dialog>

