/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-weight: 400;
    top: 0 !important;
    font-family: sans-serif
}  
button{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    &:hover{
        background: #dddddd
    }
}

.mainBody{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .top_filter{
        padding: 10px;
        border: 2px solid #e1e1e1;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .form_control{
            width: 150px;
         
        }
        .btn_group{
            display: flex;
            gap: 10px
        }
    }
    .innerbody{
        display: flex;
        width: 100%;
        gap: 5px;
        overflow: auto;
        .sidepanel{
            border: 2px solid #e1e1e1;
            border-radius: 8px;
            height: 100%;
            width: 300px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow: auto;
            .card{
                background: #e9e9e9;
                padding: 10px;
                .card_label{
                    font-size: 14px;
                   
                    font-weight: 600;
                    text-align: center
                }
                .card_body{
                    display: flex;
                    flex-direction: column;
                    gap:10px;
                    .form_control{
                        height: 45px;;
                    }
                    .checkbox_list{
                        .checkbox_item{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            input[type=checkbox]{
                                cursor: pointer;
                                    height: 15px;
                                    width: 15px;
                            }
                        }
                    }
                    .ageGroups{
                        .ageGroup{
                            display: flex;
                            gap: 10px;
                            width: 100%;
                            .agreInput{
                                width: 50%;
                                margin-bottom:10px 
                            }
                        }
                        .btn_group{
                            display: flex;
                            gap: 10px;
                            button{
                                padding: 5px 10px;
                                border-radius: 4px;

                            }
                        }
                    }
                }
            }
            .btn_group{
                display: flex;
                gap: 10px;
                button{
                    width: 50%;
                    padding: 5px 10px;
                    border-radius: 4px;

                }
            }
        }
        .mapChartTablePanel{
            width: calc(100% - 300px);
            height: calc(100vh - 77px);
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 10px;
            // justify-content: space-between;
            .mapChart{
                width: 100%;
                height: 100%;
                .map_container{
                    height: 100%;
                    width: 100%;
                    border-radius: 8px;
                    overflow: hidden;
                    position: relative;
                    transition: .3s;
                    &.largeMapView{
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        transition: .3s
                    }
                    .zoomMapBtn{
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        z-index: 2;
                        padding: 5px 10px;
                        border-radius: 7px;
                    }
                    .legend_div{
                        position: absolute;
                        z-index: 2;
                        background: white;
                        padding: 10px 15px;
                        bottom: 10px;
                        right: 10px;
                        border-radius: 8px;
                        ul{
                            margin: 0;
                            padding: 0;
                            display: flex;;
                            flex-direction: column;
                            gap: 5px;
                            li{
                                list-style: none;
                                display: flex;
                                gap: 10px;
                                align-items: center;
                                span{
                                    height: 20px;
                                    width: 20px;
                                    border-radius: 4px;
                                    border: 1px solid
                                }
                            }
                        }
                    }
                }
            }
            .table{
                width: 100%;
            }
        }
      
        flex: 1;
       
    }

}
        p-dropdown{
            .p-dropdown {
                width: 100%;
                .p-dropdown-label {
                    font-size: 12px;
                    padding: 9px;
                }
                .p-dropdown-items{
                    padding: 0;
                }
                .p-dropdown-item{
                    padding: 10px;
                    font-size: 13px;
                
                }
                .p-dropdown-filter{
                    padding: 5px 10px;
                    font-size: 13px;
                }
                .p-dropdown-empty-message{
                    font-size: 13px;
                    padding: 10px 15px;
                }
            }
        } 

        p-multiselect{
                .p-multiselect{
                    width: 100%;
                    height: 100%;
                    .p-multiselect-label{
                        font-size: 12px;
                        padding: 9px; 
                    }

                    .p-multiselect-items{
                        padding: 0;
                    }
                    .p-multiselect-item{
                        padding: 10px;
                        font-size: 13px;
                    }
                }
        }

        p-table{
            width: 100%;
        
            .p-datatable .p-datatable-thead > tr > th {
                padding: 10px
            }
            .p-datatable .p-datatable-tbody  > tr > td {
                padding: 5px
            }
        }
        p-dialog{
            .p-dialog{
                .table{
                    margin: 0;
                }
            
            }
        }

        
.layers_div {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    .layers_div_inner {
      padding: 8px 4px 4px;
      backdrop-filter: blur(1px);
      background: rgb(white, 0.6);
      border-radius: 12px;
      // width: 83px;
      width: 78px;
      transition: all 0.3s;
      // height: 93.5px;
      height: 105px;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
  
   
  
      button {
        border: none;
      background: transparent;
      }
  
      &.active {
        transform: scale(0);
        width: 0;
        height: 0;
      }
  
      &:hover {
        // width: 370px;
        width: max-content;
  
       
  
        button {
      border: none;
    background: transparent;
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            transform: scale(1);
            position: relative;
            visibility: visible;
            left: auto;
            opacity: 1;
            display: flex;
            flex-direction: column;
            max-width: 60px;
            align-items: center;
          
          }
        }
      }
  
      button {
        margin: 0 5px 5px;
        display: flex;
        flex-direction: column;
        max-width: 60px;
        align-items: center;
     
  
        order: 2;
  
        &.active {
          order: 1;
  
          img {
            padding: 2px;
            border: 1px solid green;
            // scale: 1.15;
            scale: 1.08;
          }
  
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            transform: scale(1);
            visibility: visible;
            left: auto;
            opacity: 1;
          }
  
        }
  
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          transform: scale(0);
          position: relative;
          visibility: hidden;
          left: -110%;
          opacity: 0;
        }
  
        img {
          width: 60px;
          height: 60px;
          border-radius: 8px;
          border: 1px solid rgb(219, 219, 219);
          transition: all 0.3s;
  
         
  
          
        }
  
        span {
          font-size: 10px;
          color: rgb(23, 80, 23);
          margin: 5px 0 0 0;
          display: block;
          text-wrap:auto;
        line-height: 1
  
          
        }
      }
    }
  
    button {
      &.layers_toggle_btn {
        position: absolute;
        padding: 3px 0 0;
        width: 20px;
        height: 30px;
        border-radius: 0 5px 5px 0 !important;
        right: -20px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background: green;
        span {
          font-size: 23px;
          line-height: 0;
          width: 100%;
          color: white
        }
  
        &.active {
          transform: rotateY(180deg);
          border-radius: 5px !important;
          right: -10px;
          bottom: 7px;
          box-shadow: 0px 0 6px rgb(0 0 0 / 26%);
        }
      }
    }
  }