/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-weight: 400;
    top: 0 !important;
    font-family: sans-serif
}  

.mainBody{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .top_filter{
        padding: 10px;
        border: 2px solid #e1e1e1;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        gap: 10px;
        .form_control{
            width: 150px;
         
        }
    }
    .innerbody{
        display: flex;
        width: 100%;
        gap: 5px;
        .sidepanel{
            border: 2px solid #e1e1e1;
            border-radius: 8px;
            height: 100%;
            width: 300px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .card{
                background: #e9e9e9;
                padding: 10px;
                .card_label{
                    font-size: 14px;
                   
                    font-weight: 600;
                    text-align: center
                }
                .card_body{
                    display: flex;
                    flex-direction: column;
                    gap:10px;
                    .checkbox_list{
                        .checkbox_item{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            input[type=checkbox]{
                                cursor: pointer;
                                    height: 15px;
                                    width: 15px;
                            }
                        }
                    }
                    .ageGroups{
                        .ageGroup{
                            display: flex;
                            gap: 10px;
                            width: 100%;
                            .agreInput{
                                width: 50%;
                                margin-bottom:10px 
                            }
                        }
                        .btn_group{
                            display: flex;
                            gap: 10px;
                            button{
                                padding: 5px 10px;
                                border-radius: 4px;

                            }
                        }
                    }
                }
            }
        }
        .mapChartTablePanel{
            width: calc(100% - 300px);
            height: calc(100vh - 77px);
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 10px;
            // justify-content: space-between;
            .mapChart{
                width: 100%;
                height: 400px;
                .map_container{
                    height: 100%;
                    width: 50%;
                    border-radius: 8px;
                    overflow: hidden;
                    position: relative;
                    transition: .3s;
                    &.largeMapView{
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        transition: .3s
                    }
                    .zoomMapBtn{
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 2;
                        padding: 5px 10px;
                        border-radius: 7px;
                    }
                }
            }
            .table{
                width: 100%;
            }
        }
      
        flex: 1;
       
    }

}
        p-dropdown{
            .p-dropdown {
                width: 100%;
                .p-dropdown-label {
                    font-size: 12px;
                    padding: 9px;
                }
                .p-dropdown-items{
                    padding: 0;
                }
                .p-dropdown-item{
                    padding: 10px;
                    font-size: 13px;
                
                }
                .p-dropdown-filter{
                    padding: 5px 10px;
                    font-size: 13px;
                }
                .p-dropdown-empty-message{
                    font-size: 13px;
                    padding: 10px 15px;
                }
            }
        } 

        p-multiselect{
                .p-multiselect{
                    width: 100%;

                    .p-multiselect-label{
                        font-size: 12px;
                        padding: 9px; 
                    }

                    .p-multiselect-items{
                        padding: 0;
                    }
                    .p-multiselect-item{
                        padding: 10px;
                        font-size: 13px;
                    }
                }
        }

        p-table{
            width: 100%;
        
            .p-datatable .p-datatable-thead > tr > th {
                padding: 10px
            }
            .p-datatable .p-datatable-tbody  > tr > td {
                padding: 5px
            }
        }